/**
 * Style
 */
 
body {
	padding: 50px;
}

.step {
	border: 1px solid #ccc;
	padding: 20px;
	display: none;
}

h1, h2, h3 {
	text-transform: capitalize;
}

.step span {
	display:block;
	margin: 10px 20px;
	text-transform: capitalize;
}

.step span.saving {
	display:none;
}

.step input,
.step button {
	padding:10px 20px;
}

#steps .error {
	padding:20px;
	color:red;
}